/* .page */
.page {
    display: grid;
    padding: 4rem 2rem;
    margin: auto;

    width: 100%;
    height: inherit;
    max-width: 80%;
}

/* .component */
.component {
    display: grid;
    grid-template-columns: 1fr;
}