/* .page */
.page {
    display: grid;
    padding: 4rem 2rem;
    margin: auto;

    width: 100%;
    height: inherit;
}

/* .component */
.component {
    display: grid;
    grid-template-columns: 1fr;
}

/* .text */

.component .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: center;
}

.component .text h1 {
    font-size: 4rem;
    color: var( --Very-Dark-Magenta);
}